.user-view {
    background-color: #1976d2;
    height: 70px;
    color: white;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-view a {
    color: white;
    text-decoration: none;
}

.side-nav-admin a:hover {
    color: #1976d2;
}

.content {}

.title {
    margin-left: 10px;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    /* box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.1); */
}

.task {
    border-bottom: 1px solid #ddd;
}

.search-container input {
    outline: none;
    padding: 6px 0;
}

.btn-add {
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 5px 15px;
    margin: 10px 10px;
    background-color: #1976d2;
}

.btn-add i {
    margin-right: 7px;
    font-size: 14px;
}

.btn-add a {
    color: white;
}

.table>:not(:last-child)>:last-child>* {
    border-bottom-color: #ddd !important;
}


/* menu */

.menu-admin {
    background-image: linear-gradient(to right, #5680E9, #5AB9EA, #C1C8E4);
}

.title-admin {
    padding: 7px 0;
    border-bottom: 1px solid #ddd;
    /* box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.1); */
}

.home {
    display: flex;
    justify-content: center;
}

.home a {
    text-decoration: none;
    color: #fff;
}

.fa-home {
    font-size: 36px;
    margin-right: 10px;
    color: #fff;
}

.admin-infor {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 0;
}

.circle-admin {
    border-radius: 50%;
    width: 45px;
    height: 45px;
    object-fit: cover;
    margin-right: 15px;
}

.admin-infor p {
    color: #fff;
    margin: 0;
}

.menu-admin li {
    width: 100%;
    padding: 10px 30px;
}

.menu-admin li a {
    color: #fff;
    font-size: 16px;
}