* {
    box-sizing: border-box;
    /* overflow-x: hidden; */
}

body {
    overflow-x: hidden;
}

.vid {
    object-fit: cover;
    width: 100%;
    margin-top: 20px;
}

.contanier-detail {
    position: relative;
}

.logo {
    position: absolute;
    bottom: 85%;
    left: 45%;
}

.link-homepage {
    font-size: 16px;
    position: absolute;
    bottom: 90%;
    left: 20px;
}

.link-homepage a i {
    font-size: 24px;
    color: #ecf5ff;
    opacity: 0.7;
}

.title-detail {
    position: absolute;
    bottom: 20%;
    color: #ecf5ff;
    font-size: 24px;
    margin: 0 auto;
    text-align: center !important;
}

.text {
    bottom: 20%;
    color: #ecf5ff;
    font-size: 32px;
    width: 100%;
    text-align: center;
}

.post-img {
    object-fit: cover;
}

.input_comment {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    /* position: relative; */
}

.input_comment input {
    font-weight: 300;
    font-size: 1.3rem;
    padding: 10px;
    border: none;
    width: 100% !important;
    border-bottom: 2px solid #66bfeb;
}

.input_comment input:focus {
    border-bottom: 2px solid #66bfeb !important;
}

.cmt-img {
    width: 30px;
    position: absolute;
    top: 24px;
    right: 5%;
    text-align: end;
}

.cmt-img i {
    /* position: absolute;
    top: 4px;
    right:9vh; */
}

.send-cmt {
    /* position: absolute; */
    /* top: 9px; */
    right: -12vh;
    background-color: #66bfeb;
    color: white;
    vertical-align: middle;
}

.send-cmt i {
    margin-bottom: 10px;
}

.send-cmt:hover {
    background-color: #5bb6e4;
    color: white;
}

.user_avatar {
    padding-right: 0;
}

.input_comment {
    padding-left: 0px;
    margin-left: 0px;
}

.destination {
    width: 100%;
}

.destination div {
    border: 4px solid #66bfeb;
    /* width: 100px; */
    height: 0;
    display: inline-block;
}

.destination-before {
    border-radius: 2px;
}

.destination-tittle {}

.destination-after {
    border-radius: 2px;
    overflow-x: hidden;
}

.replied_to {
    height: auto;
    margin-left: 65px;
}


/* .list-setting {} */


/* delete form */


/* .wrap {
    display: none;
} */


/* địa điểm liên quan */

.sub-content-travel {
    border: 1px solid #c8c8c8;
    border-radius: 3px;
    padding: 10px 10px;
    background-image: linear-gradient(to right, #5680E9, #84CEEB, #5AB9EA, #C1C8E4);
}


/* .travel-title {
    background-image: linear-gradient(to right, #5680E9, #84CEEB, #5AB9EA, #C1C8E4);
    height: 50px;
    margin: -10px -10px;
}*/

.travel-title h3 {
    color: #fff;
}

.title {
    font-size: 50px;
    /* color: #6498ea; */
    padding: 30px 0;
}

.sub-content-culinary {
    border: 1px solid #c8c8c8;
    border-radius: 3px;
    padding: 10px 10px;
    background-color: #ecf5ff;
}

.post-content {
    margin-bottom: 50px;
    width: 100%;
}

.sub-title p {
    font-size: 24px;
    color: #cd5c61;
}


/* .list-sub-item{
    height: 127px;
} */

.list-sub-item .item-text p {
    display: block;
    display: -webkit-box;
    height: 70px;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5rem;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list-sub-item .item-text span {
    color: rgb(119, 119, 119);
}

.list-sub-item .item-text p:hover {
    color: #81abee;
}

.list-sub-item .item-img {
    height: 100px;
    width: 100px;
}

.list-sub-item .item-img img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.list-sub-item .item-img:hover img {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.content-detail img {
    width: 100% !important;
    object-fit: contain;
}

.modal-footer {
    margin: 30px 0 20px;
    border-top: none;
}

.modal-footer button a {
    color: #fff;
}

.monan-title {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.monan-title p {
    text-align: center;
    margin: 0 100px 30px;
}
.text-center p{
    text-align: center;
}




















.box-content{
    position: relative;
}




/* .right-menu{
  
} */

/* Responsive */
@media (min-width:768px) and (max-width: 1023px) {
    .row{
        display: flex;
    }
    .m-0 {
        display: none;
    }

    .m-1,
    .m-2,
    .m-3,
    .m-4,
    .m-5,
    .m-6,
    .m-7,
    .m-8,
    .m-9,
    .m-10,
    .m-11,
    .m-12 {
        display: block;
    }

    .m-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .m-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .m-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .m-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .m-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .m-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .m-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .m-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .m-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .m-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .m-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }

    .m-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

   


    
}
@media (max-width: 767px){
    .hide-post-related{
        display: none;
    }
    .row{
        display: flex;
        
    }
    .row .c-0{
        display: none;
    }
    .row .c-12{
        display: block;
        flex: 0 0 100%;
        max-width: 100%;

    }
}
@media (min-width: 1024px){
    .row{
        display: flex;
    }
    .l-4{
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    .l-8{
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

}