.bg {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.bg-otp {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.form-otp {
    border: 1px solid #ddd;
    border-radius: 3px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.overlay {
    background-image: url('/upload/home/viewLogin.jpg');
    width: 100%;
    height: 100%;
    background-position: center;
    position: absolute;
    z-index: -1;
}


/* .login-page {
    max-width: 500px;

    margin: 0 auto !important;
    height: 100vh;
    
    overflow: hidden;
} */


/* .form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 500px;
    /* margin: 0 auto 100px; */


/* margin-top: 13%;
    margin-left: 10px;
    margin-right: 10px;
    padding: 45px;
    text-align: center; */


/* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important; */


/* box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); */


/*box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
} */

.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    width: 500px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 45px;
    border-radius: 3px;
}

.form-login {
    padding: 5px 5px;
    /* box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24); */
}

.form input {
    width: 80%;
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

input:focus {
    color: #1976d2;
}

.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #1976d2;
    width: 100%;
    border: 0;
    border-radius: 5px;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translatey(-50%);
        -moz-transform: translatey(-50%);
        -o-transform: translatey(-50%);
        transform: translatey(-50%);
    }
    to {
        opacity: 1;
        -webkit-transform: translatey(0);
        -moz-transform: translatey(0);
        -o-transform: translatey(0);
        transform: translatey(0);
    }
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    -moz-animation-name: fadeInDown;
    -o-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
}