a:hover {
    text-decoration: none;
    color: #277fbc;
}

a {
    text-decoration: none !important;
}

.darken-2 a:hover {
    color: white;
}

.right a:hover {
    color: white;
}

.header__nav-user-item a:hover {
    color: #277fbc;
}

.loader {
    position: absolute;
    top: 40%;
    left: 47%;
}

#adminHp {
    color: RED;
}

.login {
    margin-top: 70px;
    margin-bottom: 70px;
}

.btn-extended {
    display: block;
    width: 80%;
    margin: auto;
    margin-top: 20px;
}

.none {
    display: none;
}

.block {
    display: block;
}


/* Side nav */

.side-nav-admin-mobile{
    display:none;
    padding: 20px 0;
    padding-top: 0;
    background-color: white;
    color: black;
    height: 100vh;
    width: 250px;
    position: fixed;
    z-index: 99999 !important;
    left: 0;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2)
}
.side-nav-admin-mobile li{
    width: 100%;
    float: none;
	line-height: 48px;
  
}
.side-nav-admin-mobile li a{
    color: black;
    font-weight: 500;
}
.side-nav-admin-mobile li>a:hover {
	background-color: rgba(0, 0, 0, 0.05);
    color: black;
}
.side-nav-admin {
    /* display: none; */
    padding: 20px 0;
    padding-top: 0;
    background-color: white;
    color: black;
    height: 100vh;
    width: 250px;
    position: fixed;
    z-index: 99999 !important;
    left: 0;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2)
}


.side-nav-admin li {
    width: 100%;
    /* float: none;
	line-height: 48px */
}

.admin-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9000;
    will-change: opacity
}

/* .side-nav-admin li>a {
    color: rgba(0, 0, 0, 0.87);
    display: block;
    font-size: 14px;
    font-weight: 500;
    height: 36px;
    line-height: 48px;
    padding: 0 32px
} */

.side-nav-admin li {
	float: none;
	line-height: 48px
}

.side-nav-admin li.active {
	background-color: rgba(0, 0, 0, 0.05)
}

.side-nav-admin li>a {
	color: rgba(0, 0, 0, 0.87);
	display: block;
	font-size: 14px;
	font-weight: 500;
	height: 48px;
	line-height: 48px;
	padding: 0 32px
}

.side-nav-admin li>a:hover {
	background-color: rgba(0, 0, 0, 0.05)
}

.admin-name-sidenav,
.admin-email-sidenav,
.admin-btnClose-sidenav {
    height: 24px;
}
.admin-name-sidenav p{
    margin-bottom: 0;
}
.admin-email-sidenav p{
    margin-bottom: 0;
}

.admin-btnClose-sidenav {
    text-align: right;
}

.admin-name-sidenav span {
    height: 100%;
    line-height: 24px;
}

.display-block {
    display: block;
}

.display-none {
    display: none;
}
.side-nav-admin:first-child li{
    line-height: 38px;
}




.content {
    min-height: 90vh;
}

.user-view {
    width: 100%;
    height:150px;
}

.user-view .admin-img-sidenav {
    padding-top: 10px;
    height: 64px;
    width: 64px
}

.background {
    width: 100%;
    height: 200px;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1
}
/* end side nav */

/* login */

.login-page {
    max-width: 500px;
    /* padding: 8% 0 0; */
    margin: 0 auto !important;
    height: 100vh;
    /* display: flex;
  align-items: center; */
    overflow: hidden;
}

.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 500px;
    /* margin: 0 auto 100px; */
    margin-top: 13%;
    margin-left: 10px;
    margin-right: 10px;
    padding: 45px;
    text-align: center;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important; */
    /* box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); */
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form-login {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #1976d2;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.form button:hover,
.form button:active,
.form button:focus {
    background: #1976d2;
}


/* .form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
} */

.form .message a {
    color: #1976d2;
    text-decoration: none;
}

.form .register-form {
    display: none;
}

.container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
}

.container:before,
.container:after {
    content: "";
    display: block;
    clear: both;
}

.container .info {
    margin: 50px auto;
    text-align: center;
}

.container h2 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
}

.container .info span {
    color: #4d4d4d;
    font-size: 12px;
}

.container .info span a {
    color: #000000;
    text-decoration: none;
}

.container .info span .fa {
    color: #EF3B3A;
}

body {
    /* background: #64abf3;
  background: -webkit-linear-gradient(right, #1976d2, #64abf3);
  background: -moz-linear-gradient(right, #1976d2, #1976d2);
  background: -o-linear-gradient(right, #1976d2, #1976d2);
  background: linear-gradient(to left, #1976d2, #1976d2);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;       */
}


/* 
@media only screen and (max-width: 600px) {
    .hide-on-small-only,
    .hide-on-small-and-down {
        display: none !important;
    }
} */
.header-mobile{
    display: none;
}
@media only screen and (max-width: 992px) {
    .header-mobile{
        display: block !important;
    }
    .menu-admin-mobile{
        display: none;
    }

}

/* @media only screen and (min-width: 601px) {
    .hide-on-med-and-up {
        display: none !important;
    }
} */

/* @media only screen and (min-width: 600px) and (max-width: 992px) {
    .hide-on-med-only {
        display: none !important;
    }
} */

/* @media only screen and (min-width: 993px) {
    .hide-on-large-only {
        display: none !important;
    }
} */

/* @media only screen and (min-width: 993px) {
    .show-on-large {
        display: block !important;
    }
} */

@media only screen and (min-width: 600px) and (max-width: 992px) {
    .show-on-medium {
        display: block !important;
    }
}

@media only screen and (max-width: 600px) {
    .show-on-small {
        display: block !important;
    }
}

@media only screen and (min-width: 601px) {
    .show-on-medium-and-up {
        display: block !important;
    }
}

@media only screen and (max-width: 992px) {
    .show-on-medium-and-down {
        display: block !important;
    }
}

@media only screen and (max-width: 600px) {
    .center-on-small-only {
        text-align: center;
    }
}

