.wrapper {
    margin: 20px 0;
}

.contain {
    border: 2px solid #ddd;
    margin: 0 120px;
    border-radius: 3px;
    box-shadow: 5px 10px 18px #888888;
}

.content {
    padding: 50px 30px;
}

.title {
    color: #1976d2;
    text-align: center;
}

button[type="submit"] {
    background-color: #1976d2;
    color: white;
    width: 15%;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    border: 1px solid #1976d2;
    border-radius: 3px;
    margin: auto;
}

input[type="checkbox"] {
    margin-right: 7px;
}